@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

h1 {
    display: inline-block;
    margin-block-start: 0px !important;
    margin-block-end:  0px !important;
}

body {
    overflow-x: hidden;
}
.scrollmain{
    background: rgb(255,0,0);
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(255,37,0,1) 29%, rgba(255,61,0,1) 39%, rgba(255,82,0,1) 48%, rgba(255,61,0,1) 63%, rgba(255,68,0,1) 77%, rgba(255,177,125,1) 100%);

}


.canvas-section { 
    background: transparent;
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    border: 0;
}




.navbar {
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0px;
    z-index: 9999;
    padding: 25px 22px;
    padding-right: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.45s ease;

}

.logo-text {
    color: white;
    letter-spacing: 3.5px;
    font-weight: 400;
    font-family: "Space Grotesk", sans-serif;;
    font-size: 23px;
    text-transform: uppercase;
    cursor: pointer;

}

.logo { 
    width: 180px;
    height: auto;
    object-fit: contain;
    mix-blend-mode:screen
}

.navbar-menu-items {
    display: flex;
    gap: 30px;
}

.navbar-menu-items li {
    list-style: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px !important;
    font-family: "Space Grotesk", sans-serif;;
    font-weight: 500;

    text-transform: uppercase;
    letter-spacing: 0px !important;
} 

.section-1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.section-1-heading {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 17%;
    left: 1.8%;
    width: 600px;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.section-1-heading span{
    font-family: "Space Grotesk", sans-serif;
    font-size: 48px;
    line-height: 58px;
    padding-top: 40px;

}


.section-2-bg {
    position: relative;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
    background:url('./assets/SA-3D-Flat.png');
    background-repeat: no-repeat;
    background-size: 80%,50%;
    background-position: top left;
    margin-left: -200px;
}

.section-2-bg h1 {

    margin-top: 40px !important;
    width: 55%;
    margin-left: 40%;
    padding: 5px 15px;

    letter-spacing: -2.5px;
    color: white;

    font-family: "Space Grotesk", sans-serif;

    font-size: 40px;
    line-height: 18px;

}

.our-services-heading {
    font-weight: 600 !important;
    font-size: 48px;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    letter-spacing: -1px !important;
}




.services-card-container {
    padding-top: 300px !important;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 35px;
    padding: 15px 50px;
    font-size: 30px;
    font-family: "Roboto", sans-serif;

    line-height: 28px;
    margin-left: 100px;
    background-repeat: no-repeat;
    background-size: 40%,80%;
    background-position: bottom right;
    place-items: center;
    margin-bottom: 200px;
}

.services-card { 
    width: 210px;
    height: 210px;
    border-radius: 50%;

    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: "Roboto", sans-serif;

    font-size: 16px !important; 
    font-style: normal;
    line-height: 30px;
    text-align: center;
    background-color: transparent;
    border: 3px solid white;


    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    transition:  0.4s cubic-bezier(.87,-1.37,.03,1.54);
}

.services-card:hover { 
    /* background: rgba( 255, 255, 255, 0.18 ); */
    background-color:#ffffff;
    color: #A60105;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;

    backdrop-filter: blur( 22px );
    -webkit-backdrop-filter: blur( 22px );
    scale: 1.15;
}

.services-card p { 
    font-family: "Roboto", sans-serif;

    width: 80%; 
    font-size: 16px !important;
    text-align: center;
    display: flex;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.section-3 {
    margin-top: 80px;
    padding: 15px 40px;
    /* padding-left: 50px; */
    display: flex;


    background-repeat: no-repeat;
    background-size: 50%,30%;
    background-position: center center;

}


.logos-heading h2{
    font-size: 45px;
    font-weight: normal;
    color: #FFE9E9;
    font-family: "Space Grotesk", sans-serif;

    color: #ffffff;

    text-align: left;
}
.get-in-touch-text {


    position: relative;
    color: white;
    font-size: 62px;
    z-index: 10;
}

.footer {
    width: 100vw;
    margin-top: 100px;
    position: relative;
    z-index: 10;
    color: white;
    padding: 10px 40px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
}


.contact-details-container {
    padding: 1px 5px;
    display: flex;
    flex-direction: column;
    gap: 3px;


}

.contact-details-container p {
    padding-top: 10px;
    width: 60vw;
    font-family: "Space Grotesk", sans-serif;;
    font-weight: 300;
    font-size: 13px;
    margin-left: 30%;
    text-align: center;
}

form { position: relative;max-width:420px; margin:50px auto; }


.feedback-input {
    color:#1b1b1b;
    font-family: "Space Grotesk", sans-serif;;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:none;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.feedback-input:focus { border:2px solid rgb(255, 183, 183); }
.feedback-input::placeholder { 
    color: #ffb17d;

}

textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

[type="submit"] {
    font-family: "Space Grotesk", sans-serif;;
    width: 100%;
    background:transparent;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}
[type="submit"]:hover { background:#1b1b1b; }

.interface {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    bottom: 7%;
    width: 100vw;
    height: 65px;
    /* background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 5px 17px 0 rgba(145, 145, 145, 0.15);
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px ); */
}

.interface h1 {
    font-size: 17px;
    font-family: "Space Grotesk", sans-serif;;
    font-weight: 400;
    color: white
}

.section-3 {
    margin-top: 130px !important;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
gap: 40px;
/* padding: 20px 20px; */
color: white;
text-align: center;
}

.section-3 h1 {
    font-weight: 400 !important;
}


.brand-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px
}

.brand-logos img {
    width: 130px;
    height: 100px;

    object-fit: contain;
    cursor: pointer;
    transition: 0.4s ease;
    mix-blend-mode: darken;
}

.brand-logos img:hover {
    scale: 1.18;
}

.jump-button {
    width: 120px;
    height: 50px;
    display: grid;
    place-items: center;
    border: 0;
    background: #FF3333;
    color: white;
    border-radius: 9px;
    font-size: 18px;
    outline: none;
}

.jump-button:focus {

    outline: none;
}

.mobile-interface {
    margin-bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.mobile-interface i {
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 0, 0, 0.192);
    font-size: 23px;
    color: white;
    cursor: pointer;
}
.desktop-interface {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px
}

.copyright-text {
    width: 100vw;
    padding: 0 20px;
    position: relative;
    bottom: 0px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    left: 50%;
    transform: translate(-50%,0%);
}

.question-accordion {

    padding: 8px 30px;
    width: auto;
    border-radius: 50px;
    border: 3px solid white;
    color: white;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s ease ;
}

.text-area{
    border: none;
}
.cursor {
    background-color: white;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 1px;
    left: 0;
    pointer-events: none;
    z-index: 99999;
}





@media (min-width: 1300px) {

    .section-2 h1:nth-child(1) {
        margin-top: 280px !important;
        margin-bottom: 40px !important;
        font-size: 45px;
        width: 65%;
        line-height: 1.46;
        letter-spacing: -0.6px !important;
    }
    .section-2-bg {
        position: relative;
        width: 100vw;
        margin-left: -100px;
        min-height: 500px;
        background-size: 40%,50%;
        background-position: top left;
    }

    .section-2-bg h1 {
        margin-top: 80px !important;
        width: 55%;
        margin-left: 35%;
        padding: 5px 15px;
        letter-spacing: -1px;
        font-size: 37px;
        line-height: 40px;

    }


}

@media (min-width: 980px) and (max-width: 1300px) {

    .services-card { 
        width: 180px;
        height: 180px;

    }

    .services-card p { 

        width: 80%; 
        font-size: 17px;

    }
    .section-2-bg h1 {
        margin-top: 80px !important;
        width: 55%;
        margin-left: 30%;
        padding: 5px 15px;
        letter-spacing: -2.5px;
        font-size: 36px;
        line-height: 35px;
        color: white;
    }

}

@media (min-width:780px) and (max-width: 980px) {

    .services-card { 
        width: 150px;
        height: 150px;

    }

    .services-card p { 

        width: 80%; 
        font-size: 14px;

    }
    .section-2-bg h1 {
        margin-top: 80px !important;

        font-size: 25px;
        line-height: 25px;
        color: white;
    }

}


@media (min-width:650px) and (max-width: 780px) {

    .services-card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 25px;
        padding-top: 180px;
        margin-bottom: 180px;
    }

    .services-card { 
        width: 160px;
        height: 160px;

    }

    .services-card p { 

        width: 80%; 
        font-size: 14px;

    }
    .section-2-bg {
        position: relative;
        width: 100vw;

        min-height: 400px;
        background-size: 30%,40%;
        background-position: top left;
    }

    .section-2-bg h1 {
        margin-top: 40px !important;
        width: 80%;
        margin-left: 20%;
        padding: 5px 15px;
        letter-spacing: .5px;
        font-size: 28px;
        line-height: 24px;
        color: white;
    }

}


@media (min-width: 505px) and (max-width: 650px) {

    .services-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 25px;
        padding-top: 180px !important;
        margin-bottom: 180px;
    }

    .services-card { 
        width: 190px;
        height: 190px;

    }

    .services-card p { 
        line-height: 16px;
        width: 80%; 
        font-size: 14px;

    }

    .section-2-bg {
        position: relative;
        width: 100vw;
        margin-top: 150px;
        min-height: 400px;
        background-size: 50%,50%;
        background-position: top left;


    }

    .section-2-bg h1 {
        margin-top: 40px !important;
        width: 80%;
        margin-left: 20%;
        padding: 5px 15px;
        letter-spacing: .5px;
        font-size: 25px;
        line-height: 24px;
        color: white;
    }
}


@media (min-width: 10px) and (max-width: 505px) {

    .services-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 25px;
        padding: 15px 25px;
        padding-top: 180px !important;
        margin-bottom: 180px;

    }
    .contat-form-heading h2{
        font-size: 48px !important;
        padding-left: -40px;
        line-height: 45px !important;

    }

    .services-card { 
        width: 140px;
        height: 140px;

    } 

    .services-card p { 
        line-height: 12px;
        width: 80%; 
        font-size: 10px !important;

    }
    .section-2-bg {
        position: relative;
        width: 100vw;
        margin-top: 150px;
        min-height: 400px;
        background-size: 60%,70%;
        background-position: top left;
        margin-left: -50px;


    }

    .section-2-bg h1 {
        margin-top: 0px !important;
        width: 80%;
        margin-left: 27%;
        padding: 5px 15px;
        letter-spacing: -.5px;
        font-size: 20px;
        line-height: 22px;


    }
    .services-card-container {
        margin-left: 50px;

    }

}

@media (max-width:360px){
    .services-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 25px;
        padding: 15px 9px;

    }
}

@media (max-width: 1100px) {

    .question-accordion {

        font-size: 23px;

    }


    .get-in-touch-text {

        font-size: 120px;
    }


}


@media (max-width:991px){
    .contat-form-heading h2{
        text-align: center !important;
    }
}

@media (max-width: 900px) {

    .question-accordion {

        font-size: 21px;

    }

    .section-2 h1 {
        font-size: 40px;
        width: 80%;

    }

    .our-services-heading {
        font-size: 60px !important;
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }


}

@media (max-width: 800px) {

    .question-accordion {

        font-size: 18px;

    }

    .get-in-touch-text {

        font-size: 84px;
    }



    .section-1-heading {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10%;
        left: 1.8%;
        width: 600px;
        color: white;
        font-size: 24px;
        letter-spacing: 0px;
    }

    .section-3 {
        margin-top: 100px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        gap: 40px;
        padding: 20px 20px;
        color: white;
        text-align: center;
    }

    .brand-logos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        padding: 10px 10px;
    }

    .brand-logos img {
        width: 100px;
        height: 70px;

        object-fit: contain;
        cursor: pointer;
        transition: 0.4s ease;
        mix-blend-mode: darken;
    }

    .footer{
        display: flex;
        flex-direction: column;
    }
    .logo{
        margin-bottom: 5px;
    }

}

@media (max-width: 600px) {

    .get-in-touch-text {

        font-size: 70px;
    }

    .footer{
        display: flex;
        flex-direction: column;
    }
    .contact-details-container p{
        margin-left: 0 px;
    }

    .question-accordion {

        font-size: 15px;

    }

    .navbar-menu-items {
        gap: 10px;
        margin-top: 13px;
        margin-right: 16px;
    }

    .navbar {
        width: 95vw !important;
    }

    .navbar-menu-items p {
        font-size: 17px !important;
    }

    .navbar {
        width: 100vw !important;
        position: absolute;
        left: 0;
        top: 0px;
        z-index: 100;
        padding-right: 12px !important;
        padding-left: 0px !important;

    }

    .copyright-text {
        font-size: 13px;
    }

    .logo {
        width: 150px;
        margin-bottom: 5px;

    }

    .section-1-heading {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10%;
        left: 1.8%;
        width: 600px;
        color: white;
        font-size: 21px;
        max-width: 60%;
        letter-spacing: 0px;
    }
    .section-2 h1 {
        font-size: 33px;
        width: 80%;

    }

    .our-services-heading {
        font-size: 50px !important;
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }



    .section-3 {
        margin-top: 100px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        gap: 40px;
        padding: 20px 20px;
        color: white;
        text-align: center;
    }


    .brand-logos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        padding: 10px 10px;
    }

    .brand-logos img {
        width: 85px;
        height: 60px;

        object-fit: contain;
        cursor: pointer;
        transition: 0.4s ease;
        mix-blend-mode: darken;
    }

    form { 
        position: relative;
        max-width:330px;
        margin:30px auto; 
    }

    .get-in-touch-text {
        font-size: 60px;
    }



}


@media (max-width: 450px) {

    .get-in-touch-text {

        font-size: 55px;
    }




    .question-accordion {

        margin-right: 15px;
        border: 1px solid white;
        font-size: 8px;
        padding: 8px 6px !important

    }


    .navbar-menu-items p {
        font-size: 15px !important;
    }


    .logo {
        width: 130px;

    }

    .section-1-heading {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10%;
        left: 1.8%;
        width: 600px;
        color: white;
        font-size: 19px;
        max-width: 70%;
        letter-spacing: 0px;
    }

    .section-2 h1 {
        font-size: 30px;
        width: 90%;

    }

    .our-services-heading {
        font-size: 45px !important;
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }


    .section-3 {
        margin-top: 100px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 11.5px;
        gap: 40px;
        padding: 20px 20px;
        color: white;

        text-align: center;
    }



    .brand-logos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        padding: 10px 10px;
    }

    .brand-logos img {
        width: 75px;
        height: 50px;

        object-fit: contain;
        cursor: pointer;
        transition: 0.4s ease;
        mix-blend-mode: darken;
    }

    .get-in-touch-text {
        font-size: 50px;
    }


    .contact-details-container p{
        margin-left: 0px;
    }
}




/* Logos css */

.logo-container {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.category1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.category2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.category3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.category4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.parent1 {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
}

.parent2 {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: repeat(3, 200px);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
}

.parent1 div,
.parent2 div {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background: white;
}

.parent1 div img,
.parent2 div img {
    width: 60%;
    height: 60%;
    object-fit: contain;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.4s ease;
    cursor: pointer;
}

.parent1 div:hover img,
.parent2 div:hover img {
    width: 60%;
    height: 60%;
    object-fit: contain;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    scale: 1.25;
}

.logo-container div h1 {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 600 !important;

}

@media (max-width: 1300px) {



    .parent1 {
        display: grid;
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(3, 150px);
        grid-column-gap: 12px;
        grid-row-gap: 12px;
    }

    .parent2 {
        display: grid;
        grid-template-columns: 150px;
        grid-template-rows: repeat(3, 150px);
        grid-column-gap: 12px;
        grid-row-gap: 12px;
    }


}

@media (max-width: 1000px) {

    .logo-container div h1 {
        font-size: 17px;
        text-transform: uppercase;
        letter-spacing: -1px;
        font-weight: 600 !important;

    }

    .parent1 {
        display: grid;
        grid-template-columns: repeat(2, 130px);
        grid-template-rows: repeat(3, 130px);
        grid-column-gap: 12px;
        grid-row-gap: 12px;
    }

    .parent2 {
        display: grid;
        grid-template-columns: 130px;
        grid-template-rows: repeat(3, 130px);
        grid-column-gap: 12px;
        grid-row-gap: 12px;
    }


}

@media (max-width: 850px) {

    .logo-container div h1 {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: -1px;
        font-weight: 600 !important;

    }

    .parent1 {
        display: grid;
        grid-template-columns: repeat(2, 110px);
        grid-template-rows: repeat(3, 110px);
        grid-column-gap: 12px;
        grid-row-gap: 12px;
    }

    .parent2 {
        display: grid;
        grid-template-columns: 110px;
        grid-template-rows: repeat(3, 110px);
        grid-column-gap: 12px;
        grid-row-gap: 12px;
    }


}


@media (max-width: 750px) {

    .logo-container div h1 {
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: -1px;
        font-weight: 600 !important;

    }

    .parent1 {
        display: grid;
        grid-template-columns: repeat(2, 90px);
        grid-template-rows: repeat(3, 90px);
        grid-column-gap: 12px;
        grid-row-gap: 12px;
    }

    .parent2 {
        display: grid;
        grid-template-columns: 90px;
        grid-template-rows: repeat(3, 90px);
        grid-column-gap: 12px;
        grid-row-gap: 12px;
    }


}


@media (max-width: 650px) {

    .logo-container div h1 {
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: -1px;
        font-weight: 600 !important;

    }

    .parent1 {
        display: grid;
        grid-template-columns: repeat(2, 80px);
        grid-template-rows: repeat(3, 80px);
        grid-column-gap: 8px;
        grid-row-gap: 8px;
    }

    .parent2 {
        display: grid;
        grid-template-columns:80px;
        grid-template-rows: repeat(3, 80px);
        grid-column-gap: 8px;
        grid-row-gap: 8px;
    }


}


@media (max-width: 570px) {

    .logo-container div h1 {
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: -1px;
        font-weight: 600 !important;

    }

    .parent1 {
        display: grid;
        grid-template-columns: repeat(2, 65px);
        grid-template-rows: repeat(3, 65px);
        grid-column-gap: 7px;
        grid-row-gap: 7px;
    }



    .parent2 {
        display: grid;
        grid-template-columns:65px;
        grid-template-rows: repeat(3, 65px);
        grid-column-gap: 7px;
        grid-row-gap: 7px;
    }


}

@media (max-width: 450px) {

    .logo-container div h1 {
        font-size: 9px;
        text-transform: uppercase;
        letter-spacing: -1px;
        font-weight: 600 !important;

    }

    .parent1 {
        display: grid;
        grid-template-columns: repeat(2, 55px);
        grid-template-rows: repeat(3, 55px);
        grid-column-gap: 7px;
        grid-row-gap: 7px;
    }

    .parent2 {
        display: grid;
        grid-template-columns:55px;
        grid-template-rows: repeat(3, 55px);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
    .section-2-bg h2{
        font-size: 37px;
    }

}


@media (max-width:532px){
    #logo-imgaes{
        display: grid !important;
        grid-template-columns:170px;
        /* grid-template-rows: repeat(3, 55px); */
        grid-template-columns: repeat(2,150px);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        align-items: baseline;
        margin-top: 10px;
    }
}



@media(max-width:417px){
    .navbar{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:360px){
    .navbar-menu-items{
        margin: 0 auto;
    }


}
@media (max-width: 200px) {

    .logo-container {
        gap: 3px
    }

    .logo-container div h1 {
        font-size: 9px;
        text-transform: uppercase;
        letter-spacing: -1px;
        font-weight: 600 !important;

    }

    .parent1 {
        display: grid;
        grid-template-columns: repeat(2, 40px);
        grid-template-rows: repeat(3, 40px);
        grid-column-gap: 3px;
        grid-row-gap: 3px;
    }

    .parent2 {
        display: grid;
        grid-template-columns:40px;
        grid-template-rows: repeat(3, 40px);
        grid-column-gap: 3px;
        grid-row-gap: 3px;
    }


}




/* contact us */
.container-contactus{
    /* justify-content: space-between; */

    gap: 15px;

    background-repeat: no-repeat;
    background-size: 40%,80%;
    background-position: left bottom;

    background-position-y: 100%;
    background-position-x: -10%;
}
.contat-form-heading h2{
    font-family: "Space Grotesk", sans-serif;
    font-size: 72px;

    line-height: 90px;
    padding-top: 45px;
    text-align: left;
    color: #ffffff;
    margin-top: 40px;
}
.form-inline .feedback-input{
    background-color: #EEEEEE;

}

.form-inline .feedback-input:focus{
    box-shadow: none;
}

::-webkit-input-placeholder{
    font-family: "Space Grotesk", sans-serif;;
}


#logo-imgaes{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 25px;
}





.video-container {
    position: relative;
    max-width: 100%;
    width: 100%;
    padding: 0 !important;
}

.video {
    width: 100%;
    height: auto;
    display: block;
}

.controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.video-container:hover .controls {
    opacity: 1; 
}

.controls button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.controls button:hover {
    background: rgba(0, 0, 0, 0.8);
}


.video::-webkit-media-controls {
    display: none !important;
}

.video::-webkit-media-controls-enclosure {
    display: none !important;
}

.video::-webkit-media-controls-start-playback-button {
    display: none !important;
}

.video::-webkit-media-controls-volume-slider {
    display: none !important;
}

.video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}

.video::-webkit-media-controls-rewind-button {
    display: none !important;
}

.video::-webkit-media-controls-fast-forward-button {
    display: none !important;
}


/* 
//////////////////////////////////////////////////////////////////  pricing scetion //////////////////// */


/* PricingSection.css */
.pricing-section {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;
    padding: 40px 20px;

    color: white;
}

.pricing-card {
    /* background: rgba(255, 255, 255, 0.1); */

    border-radius: 8px;
    padding: 0px 3px;
    max-width: 500px;
    flex: 1;
    text-align: center;
}

.pricing-card-header {
    margin-bottom: 10px;
    border: 2px solid white;
    padding: 20px;
    height: 300px;
    border-radius: 5px;


    p{
        text-align: left;
    }
}

.pricing-card-header h3{
    background-color: #ffffff;
    color: red;
    font-size: 21px;
    text-align: left;
    width: max-content;
    padding: 10px 15px;
    font-weight: 700;
    border-radius: 5px;

}
.pricing-card-body {
    text-align: left;
    padding: 20px;
    border: 2px solid white;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 0px;

    h4{
        font-size: 14px;
        margin-bottom: 20px;
    }
}

.pricing-card h2 {
    font-size: 38px;
    margin-top: 60px;
    text-align: left;
    font-family: "Inter", sans-serif;
    margin-left: 20px;
    .mon{
        font-size: 14px;
    }

}

.cancel-any{
    text-align: left;
    font-size: 12px;


}

.pricing-card ul {
    list-style: none;
    padding: 0;
}

.pricing-card ul li {
    margin: 8px 0;
    font-size: 14px;
}
.pound{
    font-size: 25px;
    font-family: "Inter", sans-serif;
    position: absolute;
    margin-left: -20px;

}
@media (max-width: 768px) {
    .pricing-section {
        flex-direction: column;
        align-items: center;
    }
    .pricing-card-header{
        margin-bottom: 2px;
        margin-top: 30px;
    }
    .pricing-card-body{
        margin-bottom: 20px;
    }
}

/*====== Testimonials Section ======*/
.t-section {
    padding: 10rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}
.t-header {
    color: #ffffff;
    font-size: 3em;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.t-card-container {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.t-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    padding: 2rem 2rem;
    border: 2px solid white;
    border-radius: 1rem;
    color: white;
    text-align: center;
    font-weight: 400;
    line-height: 34px;
    font-size: 1.5rem;
    max-width: 34rem;
    height: 24rem;
    width: 28rem;
}
.t-logo {
    object-fit: contain;
    margin-top: auto;
    justify-self:flex-end;
    height: 4rem;
}
.t-carousel {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.t-text {
    line-clamp: 5;
    text-overflow: truncate;
}
